<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Blog</title>
</head>
<body style="background-color:#FDD7E4;">
    <div class="form-group mt-3">
    <div class="container">
        <h1 class="mb">Blog Articles</h1>
        <a href="/articles/new" class="btn btn-success" hidden id="newarticle">New Article</a>
        <a href="/login" class="btn btn-primary">Login</a>
        <!-- <button onclick="toggle();">Toggle hidden</button> -->

    <% articles.forEach(article => { %>
        <div class="card mt-4 border" style="background-color: #f6b8d1">
            <div class="card-body">
                <h4 class="card-title"><%= article.title %></h4>
                <div class="card-subtitle text-muted mb-2"><%= article.createdAt %></div>
                <!-- <div class="card-subtitle text-muted mb-2"><%= article.createdAt.toLocaleDateString() %></div> -->
                <div class="card-text mb-2"><%= article.description %></div>
                <a href="articles/<%= article.id %>" class="btn btn-primary readmore">Read More</a>
                <a href="/articles/edit/<%= article.id %>" class="btn btn-info edit" hidden>Edit</a>
                <form class="d-inline" action="/articles/<%= article.id %>?_method=DELETE" method="POST">
                    <button hidden type="submit" class="btn btn-danger delete">DELETE</button>
                </form>
            </div>
        </div>
    <% }) %>
    </div>
</div>
</body>

<script>
    let shouldToggle = <%= login %>;

    let toggle = () => {
        let newArticle = document.getElementById("newarticle")
        newArticle.removeAttribute("hidden")

        let editButtons = document.querySelectorAll('.edit');
        let deleteButtons = document.querySelectorAll('.delete');

        editButtons.forEach(button => {
            button.removeAttribute("hidden");
        });

        deleteButtons.forEach(button => {
            button.removeAttribute("hidden");
        });
    }

    window.onload = () => {
        if (shouldToggle) {
            toggle();
        }
    }
</script>

</html>
